# Exemples de base sur le langage Python.

#### Copyright(C) 2024, Charles Theetten, <chalimede@proton.me>

Les codes présentés dans ce notebook sont des exemples de base qui servent avant tout à se familiariser avec le langage Python pour la science des données.

## Affichage d'une variable

In [1]:
n = 2

print(f"Valeur de la variable n: {n}.")

Valeur de la variable n: 2.

## Listes

In [2]:
my_list = [1, 6, 2, 9, 5, 3, 7, 8, 4, 10]

print(f"{my_list[0:5]}")
print(f"{my_list[0:10:2]}")
print(f"{my_list[::-1]}")

[1, 6, 2, 9, 5]
[1, 2, 5, 7, 4]
[10, 4, 8, 7, 3, 5, 9, 2, 6, 1]

## Tuples

In [3]:
my_tuple = "A", 1, [2, 3]
x, y, z  = my_tuple

print(f"{my_tuple}, {x}, {y}, {z[::-1]}")

('A', 1, [2, 3]), A, 1, [3, 2]

## Dictionnaires

In [4]:
id_card              = { "prenom" : "charles", "nom" : "hal", "naissance" : 1982 }

print(f"{id_card}")

id_card["prenom"]    = "archimède"
id_card["naissance"] = 2020

print(f"{id_card}")

{'prenom': 'charles', 'nom': 'hal', 'naissance': 1982}
{'prenom': 'archimède', 'nom': 'hal', 'naissance': 2020}

## Opérateurs

In [5]:
n = 1000

print(f"{(n + 11):.2f}\n{(n - 11):.2f}\n{(n * 11):.2f}\n{(n / 11):.2f}\n{(n // 11)}\n{n % 11}\n{n ** 11}")
print(f"{16 in my_list}, {-4 not in my_list}")

1011.00
989.00
11000.00
90.91
90
10
1000000000000000000000000000000000
False, True

## Boucles

In [6]:
i = 1

while i <= 10:
    print(f"{i} ", end = "")
    i += 1

1 2 3 4 5 6 7 8 9 10

In [7]:
primes = [5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

for n in primes:
    n **= 2
    n += 17
    n %= 12
    print(f"{n} ", end = "")

6 6 6 6 6 6 6 6 6 6

In [8]:
fibonacci_sequence = [0, 1]

for i in range(0, 20):
    n = fibonacci_sequence[i] + fibonacci_sequence[i + 1]
    fibonacci_sequence.append(n)

print(f"{fibonacci_sequence}")

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]

In [9]:
word = "maeva"
end  = len(word) - 1
inv  = ""

for i in range(end, -1, -1):
    inv += word[i]

print(f"{inv}")

aveam

In [10]:
planets = ["Mercure", "Vénus,", "Terre", "Mars", "Jupiter", "Saturne", "Uranus", "Neptune"]
cpt     = 0

for word in planets:
    for letter in word:
        if letter == "e":
            cpt += 1

print(f"Nombre de lettres e: {cpt}.")

Nombre de lettres e: 8.

In [11]:
length       = len(my_list)
list_square  = [ my_list[i] ** 2 for i in range(length) ]
list_double  = [ my_list[i] * 2 for i in range(length) ]
list_even    = [ "pair" if nb % 2 == 0 else "impair" for nb in range(length) ]

print(f"{list_square}")
print(f"{list_double}")
print(f"{list_even}")

[1, 36, 4, 81, 25, 9, 49, 64, 16, 100]
[2, 12, 4, 18, 10, 6, 14, 16, 8, 20]
['pair', 'impair', 'pair', 'impair', 'pair', 'impair', 'pair', 'impair', 'pair', 'impair']

In [12]:
max = my_list[0]
ind = 0

for pos, n in enumerate(my_list):
    if n > max:
        max = n
        ind = pos

print(f"Indice de la valeur maximale dans my_list: {ind}.")

Indice de la valeur maximale dans my_list: 9.

In [13]:
my_list  = []

for s, d in zip(list_square, list_double):
    my_list.append(s - d)

print(f"{my_list}")

[-1, 24, 0, 63, 15, 3, 35, 48, 8, 80]

## If - Else

In [14]:
n = 12

if n % 2 == 0:
    print(f"{n} est pair.")
elif n % 3 == 0:
    print(f"{n} est multiple de 3.")
else:
    print(f"{n} est pair.")

12 est pair.

## Fonctions

In [15]:
def factorial(n, acc):
    return acc if n <= 1 else factorial(n - 1, n * acc)


print(f"{factorial(5, 1)}")

120

In [16]:
def resolution():
    values = [-1, 0, 1, 2]

    for x in values:
        for y in values:
            for z in values:
                if (x + y + z == 2) and (x - y - z == 0) and ((2 * x) + (y * z)) == 0:
                    return x, y, z


print(f"Resolution du système d'équations\n\n(x + y + z  = 2)\n(x - y - z  = 0)\n(2x + y * z = 0)\n\nSolution: {resolution()}.")

Resolution du système d'équations

(x + y + z  = 2)
(x - y - z  = 0)
(2x + y * z = 0)

Solution: (1, -1, 2).